.main-container{
    background-color: $second-darkColor;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;

    .card-container{
        background-color: $lightColor;
        width: 50%;
        padding: 6.1rem 8.0rem;
        border-radius: 2.0rem;
    }
}

