.progressCard-container{
    background-color: $subColor;
    padding: 0.5rem 4rem;
    border-radius: 2rem;
    margin-bottom: 3.3rem;
    color: $whiteColor;
    user-select: none;

    .progressBar{
        position: relative;
        height: 0.734rem;
        width: 100%;
        border-radius: 10rem;
        background-color: $darkColor;
    
        &>div{
            position: absolute;
            background-color: $whiteColor;
            height: 0.734rem;
            border-radius: 10rem;
            transition: all .5s ease-out;
        }
    }

    p{
        color: $second-subColor;
    }
}

