.taskList-container{
    &>div{
        background-color: $whiteColor;
        margin: 2rem 0;
        width: 100%;
        border-radius: 10rem;
        position: relative;
        padding: 1rem 0;
        user-select: none;

        &:first-child{
            margin-top: 0 !important;
        }

        .taskList-card{
            display: flex;
            align-items: center;
            flex-wrap: nowrap;
            padding: 0.3rem 2rem;

            svg{
                cursor: pointer;
                color: $grayColor;
                font-size: 2.6rem;
            }

            &>div:first-child{
                flex-grow: 0;

                label{
                    display: block;
                    position: relative;
                    padding-left: 3rem;
                    cursor: pointer;

                    -webkit-user-select: none;
                    -moz-user-select: none;
                    -ms-user-select: none;
                    user-select: none;

                    input {
                        position: absolute;
                        display: none;

                        &:checked ~ .checkmark {
                            background-color: $mainColor;
                            &:after {
                                display: block;
                            }
                        }
                    }

                    .checkmark {
                        position: absolute;
                        top: 0;
                        left: 0;
                        height: 2rem;
                        width: 2rem;
                        transform: translateY(-51%);
                        background-color: transparent;
                        border-radius: 0.6rem;
                        border: 0.2rem solid $mainColor;

                        &:after {
                            content: "";
                            position: absolute;
                            display: none;
                            top: 0.3rem;
                            left: 0.7rem;
                            
                            width: 0.4rem;
                            height: 0.9rem;
                            border: solid white;
                            border-width: 0 0.2rem 0.2rem 0;
                            -webkit-transform: rotate(45deg);
                            -ms-transform: rotate(45deg);
                            transform: rotate(45deg);
                        }
                    }
                }
            }

            &>div:nth-child(2){
                padding: 0 1rem;
                flex-grow: 2;
            }

            &>div:last-child{
                flex-grow: 0;
            }

        }
        .taskList-dropdown{
            position: absolute;
            top: 70%;
            right: 1.5rem;
            background-color: $whiteColor;
            z-index: 10;
            padding: 0.5rem 2.2rem;
            border-radius: 1rem;
            box-shadow: 0 0 0.8rem 0 $shadowColor;
            width: 9rem;

            &>div{
                margin: 1.5rem 0;
                user-select: none;
                cursor: pointer;
                &:hover{
                    opacity: 0.7;
                }
            }

            &>div:last-child{
                color: $subColor;
            }
        }
        .taskList-submitter{
            display: flex;
            align-items: center;
            justify-content: space-between;
            margin: 0 1rem;

            &>div{

                &:first-child{
                    flex-basis: 80%;

                    input{
                        width: 100%;
                    }
                }

                &:last-child{
                    flex-basis: auto;

                    button{
                        height: 3.6rem;
                        width: 6.4rem;
                        border-radius: 1000px;
                        border: none;
                        outline: none;
                        background-color: $mainColor;
                        color: $whiteColor;
                        cursor: pointer;
                        transition: all .2s;

                        &:hover{
                            opacity: 0.8;
                            transition: all .2s;
                        }
                    }
                }
            }
        }
    }
}

